@font-face {
    font-family: 'siyuan';
    src: url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.eot');
    src: url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.woff2') format('woff2'), 
         url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.woff') format('woff'),  /*chrome、firefox */
         url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.ttf') format('truetype'),  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('https://cdn.jsdelivr.net/gh/Ratodo/Lib/fonts/siyuan/siyuan.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* *:not([class*="icon"]):not(i) {
    font-family: "siyuan" !important;
} */
body {
    font-family: 'siyuan';
}
/* #article-container {
    font-family: 'FiraCode';
} */

