#article-container,
#post,
#content-inner,
#body-wrap,
body {
    height: 100%!important;
}


/* 折叠标签和选择标签中内容的内外边距 */
.toggle > .toggle-content {
    /* margin: 30px 24px; */
    margin: 10px 4px;
}
#article-container .tabs > .tab-contents .tab-item-content {
    /* padding: 36px 24px 10px; */
    padding: 10px 4px 4px;
}