/* 折叠标签和选择标签中内容的内外边距 */
.toggle > .toggle-content {
    /* margin: 30px 24px; */
    margin: 10px 4px 4px;
}
#article-container .tabs > .tab-contents .tab-item-content {
    /* padding: 36px 24px 10px; */
    padding: 10px 4px 4px;
}
/* 消除折叠标签底部的外边距 */
#article-container .tabs {
    /* margin: 0 0 20px; */
    margin: 0;
}

#article-container .tabs > .nav-tabs > .tab {
    /* padding: 8px 18px; */
    padding: 0 18px;
}


/* 表格宽度调整 */
.table-wrap {
    text-align: left;
}
table {
    width: auto;
    margin: auto
}

/* pdf的iframe设置长度 */
/* ".pdf"是为了和".video"区分开来 */
#article-container iframe.pdf {
    height: 1265px!important;
}