:root {
    --nav-blank-maxwidth: 177.33px;
    --nav-blank-minwidth: 5px;
}

#blog-info,
#he-plugin-simple,
#search,
#menus { /* blog-name元素占的空间还原为默认值  */
    flex: 0 0 auto !important; /* flex-grow: 0; flex-shrink: 1; flex-basis: auto; */
}

#null_mid { /* 将blog-name的flex值传递到null_Element上即可  */
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
    flex: 10 1 auto;
    max-width: 900px;
}
#null_left, #null_right {
    flex: 1 10 auto;
}

#menus {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
@media screen and (min-width: 800px)and (max-width: 1300px) {
    #he-plugin-simple {
        display: none;
        width: 0;
    }
}
@media screen and (max-width: 1155px) {
    #null_mid {
        flex: 1 1 auto;
    }
    #null_left, #null_right {
        flex: 0 0 auto;
    }
    #menus {
        position: relative;
        left: auto;
        transform: none;
    }
}
@media screen and (max-width: 800px) {
    #he-plugin-simple {
        display: block;
        width: auto;
    }
}

/* #nav {
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
} 实现失败*/

#he-plugin-simple,
#he-plugin-simple > div.s-sticker,
#he-plugin-simple > div.s-sticker > * {
    color: inherit !important;
    font-family: inherit !important;
}